#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.title{
  text-align: center;
  margin-bottom: 10 px;
  font-size: 40px;

}

.authors{
  list-style: none;
  padding: 0;
  margin: 10;
  text-align: center;
}

.back-button{
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 8px 14px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

h1,h2,p{
  margin: 0;
  padding: 0;
}

.us-map{
  display: block;
  line-height: 0;
}

.us-map path{
stroke: rgb(6, 4, 4);
stroke-width: 1.5;
}

.us-map path:hover{
  fill: orange !important;
  cursor: pointer;
}
